<div class="container" [ngStyle]="{'background-image': 'url(' + this.showPhoto + ')'}">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <h1>Benvinguda</h1>
        </div>
        <div class="col-md-12 text-center mt-3">
            <p>Descripció del projecte</p>
        </div>
        <div class="col-md-12  text-center mt-3">
            <button (click)="show = !show" class="btn btn-primary">Començar</button>
        </div>
    </div>
    <div *ngIf="show">
        <app-escena [frases]="frasesHome" (modifiedPhoto)="getPhoto($event)"> </app-escena>
    </div>
</div>